.errores{
    position: relative;
    left: 40px;
    justify-content: center;
    margin-bottom: 10px;
    width: fit-content;
    background-color: rgba(102, 0, 0, 0.801);
    font-size: 20px;
    border-radius: 9px;
    color: red;
<<<<<<< HEAD
}
.wrong{
 border: solid 1px red;
=======
    border-color: red;

}

@media (min-width:768px){
    .errores{
        position: relative;
        left: 44.8vw
    }
>>>>>>> d1d70a81cb9f32bd6b8b1c9c669230b88a1d25e3
}