body{
    background-image: url(/images/background.jpg);
    background-size: 105%;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family: roboto;
}
.img-inition{
    width: 30px;
    height: 30px;
}
.header-move{
    display: flex;
    justify-content: space-between;
    background-color: rgba(155, 155, 155, 0.7);
    border-radius: 9px;
    margin: 4px;
}
.iconos{
    font-size: 20px;
}
.main-navbar{
    display: none;
}
form{
    background-color: rgba(155, 155, 155, 0.9);
    max-width: 450px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 15px;
    justify-content: space-around;
    border-radius: 9px;
    margin-top: 10px;
}

.form-in{
    text-align: center;
    padding: 15px;
    font-size: 20px;


} .form-in label{
    display: block;
}
.bottons{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px 70px;
}
button{
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
    

}
.record-olvidado{
    display: flex;
    justify-content: space-around;
    
}
#initionsession{
    text-align: center;

}
.links{
    display: flex;
    justify-content: space-around;
    padding: 15px 20px 15px 20px
    
}
input{
    border-radius: 7px;
}
.text-danger{
    color: red;
}
.validacionCorreo{
    color: red
}
.validationContrasenia{
    color: red
}

@media (min-width: 730px) {
    .main-navbar{
        display: flex;
        justify-content: space-around;
        padding: 30px;
    }
    input{
        font-size: 20px;
        border-radius: 9px;
    }
    .buttons{
        font-size: 29px;
    }
    button{
        font-size: 18px;
        width: 100px;
        height: 45px;
    }
    .iconos{
        display: none;
        display: block;
    }
    h2{
        text-align: center;
    }
}