<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404! :/</title>
    <link href="/css/style404.css" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/minecraft-4" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f793282f43.js" crossorigin="anonymous"></script>

</head>
<body>
    <!--- mobile start --->
    <main class="mobile">
        <div id="container">
            <h2 id="t404">404 :/</h2>
            <p>Lo sentimos</p>
        </div>
        
        <article>
            <a href="/login/perfil">
                <div id="iconMobile"> 
                <i class="fas fa-user"> </i>
                </div>
            </a>
            

            <a href="/">
                <div id="iconMobile"> 
                <i class="fas fa-home"> </i>
                </div>
            </a> 
            
        </article>
    </main>
    <!--- mobile end --->

    <!--- desktop start --->
    <main class="desktop">
        <article>
            <span id="iconDesktop">
                <a href="/login/perfil"> 
                <i class="fas fa-user"> </i>
                </a>
            </span>
            

            <span id="iconDesktop"> 
                <a href="/"> 
                <i class="fas fa-home"> </i> 
                </a> 
            </span>
            
        </article>
    </main>
    <!--- desktop end --->

</body>
</html>