<!DOCTYPE html>
<html>
<head>
    <link href="/css/stylecarrito.css" rel="stylesheet">
    <%- include("./partials/head") %>


</head>

<body>
    <%- include('./partials/header.ejs') %>
   <main>
        <h2>Relax Games</h2>
        <section class='articulos'>
            <article>
                <img class=size-images src='/images/foto1carrito.jpg'>
                <div class='article-flex'><div class='article-flex2'><div>Nombre del Juego</div>
                <div class='article-flex3'><div><button>Eliminar</button></div>
                <div><button>Juegos Similares</button></div></div></div>
                <div class="precio">$$$$</div></div>
            </article>
            <article>
                <img class=size-images src='/images/foto2carrito.jpg'>
                <div class='article-flex'><div class='article-flex2'><div>Nombre del Juego</div>
                <div class='article-flex3'><div><button>Eliminar</button></div>
                <div><button>Juegos Similares</button></div></div></div>
                <div class="precio">$$$$</div></div>
            </article>
            <article>
                <img class=size-images src='/images/foto3carrito.jpg'>
                <div class='article-flex'><div class='article-flex2'><div>Nombre del Juego</div>
                <div class='article-flex3'><div><button>Eliminar</button></div>
                <div><button>Juegos Similares</button></div></div></div>
                <div class="precio">$$$$</div></div>
            </article>
            <article>
                <img class=size-images src='/images/foto4carrito.jpg'>
                <div class='article-flex'><div class='article-flex2'><div>Nombre del Juego</div>
                <div class='article-flex3'><div><button>Eliminar</button></div>
                <div><button>Juegos Similares</button></div></div></div>
                <div class="precio">$$$$</div></div>
            </article>
        </section>
        <section class='section2'>
            <article class='article4'>
                <h5>También podria interesarte</h5>
                <img class=size-images src='/images/foto5carrito.jpg'>
                <img class=size-images src='/images/foto6carrito.jpg'>
            </article>
            <article class='article3'>
                <h5>Precio Total</h5>
                <div><button class="boton-final">FINALIZAR COMPRA</button></div>
            </article>
        </section>
 </main>
 <%- include("./partials/footer") %>
</body>

</html>