<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include("./partials/head") %>
    <link href="/css/stylehome.css" rel="stylesheet">
    </head>

    <body>
    <div class="fondo"></div>
    <%- include("./partials/header") %> 
        <main> 
            <div class="banner-padre">
                <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
                    
                    <img src="/images/banner.PNG" class= "banner" alt="">
                </a>
            </div> 
            <div class="titulo-padre"><h1 class="titulo">Juegos destacados</h1></div>
            
            <section class="juegos-padre">

                <div class="juegos">

                    <a href="/products/1"><img src="/images/Captura1.PNG" alt=""></a>
                    <a href="/products/2"><img src="/images/Captura2.PNG" alt=""></a>
                    <a href="/products/3"><img src="/images/Captura3.PNG" alt=""></a>
                    <a href="/products/4"><img src="/images/Captura1.PNG" alt=""></a>
                    <a href="/products/5"><img src="/images/Captura2.PNG" alt=""></a>
                    <a href="/products/6"> <img src="/images/Captura3.PNG" alt=""></a>

                </div>

            </section>           
            
            <div class="titulo-padre"><h1 class="titulo">Ofertas</h1></div>

            <section class="juegos-padre">
                <div class="juegos">
                    <a href="/products/1"><img src="/images/Captura1.PNG" alt=""></a>
                    <a href="/products/2"><img src="/images/Captura2.PNG" alt=""></a>
                    <a href="/products/3"><img src="/images/Captura3.PNG" alt=""></a>
                    <a href="/products/4"><img src="/images/Captura1.PNG" alt=""></a>
                    <a href="/products/5"><img src="/images/Captura2.PNG" alt=""></a>
                    <a href="/products/6"> <img src="/images/Captura3.PNG" alt=""></a>
                </div>      
            </section>                   
        </main>
/
    </div>
    </body>
    <%- include("./partials/footer") %>
</html>