<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/head") %>
    <link href="/css/stylelogin.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleerrores.css">

</head>

<body>
<header>
        <div class='header-move'>
             <div class='iconos'><i class="fas fa-arrow-left"></i></div>
             <h2>Relax Games</h2>
             <div class='iconos'><i class="fas fa-bars"></i></div>
        </div>
        
</header>
<main>
    <form action='/login' method='POST' id="formularioo">
        <div class='form-in' id='hola'>
            <label>Correo electrónico:</label>
            <input type='text' name='email' placeholder="login@relaxgames.com" class='validation'>
            <div class='validacionCorreo'></div>

            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
            <% } %>
        </div>
        <div class='form-in'>
            <label>Contraseña:</label>
            <input type='password' name='password' placeholder="Contraseña" class='validation1'>
            <div class='validationContrasenia'></div>
        </div>
        <div class='bottons'><button type="reset" >Borrar</button>
        <button type="submit" >Ingresar</button>
        </div>
        <div class= record-olvidado><div>
            <label>Recordarme</label>
            <input type='checkbox' name='Recordar'>
        </div>
        <div>
            <a href='#'>¿Has olvidado tu contraseña? </a>
        </div></div>
        <div id= 'initionsession'>Iniciar sesión con</div>
        <div class='links'>
            <a href='www.google.com'><img class='img-inition' src='/images/google.png'></a> 
            <a href='www.facebook.com'><img class='img-inition' src='/images/facebook.png'></a> 
            <a href='www.steam.com'><img class='img-inition' src='/images/steam.png'></a> 
            <a href='www.store.steampowered.com'><img class='img-inition' src='/images/xbox.png'></a> 
        </div>

    </form>
</main>
<%- include("./partials/footer") %>
<script src="/js/login.js"></script>
</body>

</html>