<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <%- include("./partials/head") %>
    <%- include("./partials/header") %>
    <link href="/css/stylePerfil.css" rel="stylesheet">

</head>
<body>

 <article class="userContainer">
         <div class="perfil">
            <h2 id="title"> ¡Bienvenido de nuevo! </h2>
             <img id='profilePic' src="../images/avatar.png">
             <div class="alert alert-success"> </div>
        </div>
 </article>

 <hr id="separador">


</body>
</html>