<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Relax Games</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="/css/styledetalle.css" rel="stylesheet">
    </head>
        <body>
            <header>
                <div class="navbar">
                   <div class="main-navbar">
                      <a href="#">Inicio <i class="fas fa-home"></i> </a>
                      <a href="#">Ingresar <i class="fas fa-sign-in-alt"></i> </a>
                      <a href="#">Perfil <i class="fas fa-user"></i> </a>
                      <a href="#">Comunidad <i class="fas fa-users"></i> </a>
                      <a href="#">Soporte <i class="fas fa-tools"></i> </a>
                      <a href="#">Carrito <i class="fas fa-shopping-cart"></i></a>
                   </div>
                </div>
            </header>
            <main>
                <div class="todo">
                    <div class="contenedor">
                        <img src="/images/fallout-3-remake.jpg" alt="stylesheet">
                        <div class="juego1">
                            <img src="/images/ss_910437ac708aed7c028f6e43a6224c633d086b0a.116x65.jpg" alt="stylesheet">
                            <img src="/images/ss_c310f858e6a7b02ffa21db984afb0dd1b24c1423.116x65.jpg" alt="stylesheet">
                            <img src="/images/ss_f649b8e57749f380cca225db5074edbb1e06d7f5.116x65.jpg" alt="stylesheet">
                            <img src="/images/ss_f7861bd71e6c0c218d8ff69fb1c626aec0d187cf.116x65.jpg" alt="stylesheet">
                            <img src="/images/ss_c310f858e6a7b02ffa21db984afb0dd1b24c1423.116x65.jpg" alt="stylesheet">
                        </div> 
                    </div>
                    <div class="info-flex">
                        <div class="informacion">
                            <img src="/images/header.jpg" alt="stylesheet">
                            <h2>INFORMACION</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dolorum corporis, exercitationem voluptas fugit, totam facilis dicta blanditiis laboriosam fugiat possimus ab animi culpa perspiciatis optio. Dolore atque magnam est?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dolorum corporis, exercitationem voluptas fugit, totam facilis dicta blanditiis laboriosam fugiat possimus ab animi culpa perspiciatis optio. Dolore atque magnam est?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dolorum corporis, exercitationem voluptas fugit, totam facilis dicta blanditiis laboriosam fugiat possimus ab animi culpa perspiciatis optio. Dolore atque magnam est?</p>
                            <div class="compra"> 
                                <div class="oferta">%%%</div>             
                                <div class="precio">ARS$$$$</div> 
                                <div class="boton"><button>Comprar</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </body>
</html>