<link href="/css/stylefooter.css" rel="stylesheet">
<footer> 
    <div class="parteArriba">
        <p>© 2021 RelaxGames Corporation. Todos los derechos reservados.</p>
    </div>
        <div class="junto">
            <div class="parteIzquierda">
                <a href='https://www.youtube.com/watch?v=RqJVa0fl01w' target="_blank">| Política de Privacidad | <i class="fas fa-user-shield"></i></a>
                <a href='https://www.youtube.com/watch?v=RqJVa0fl01w' target="_blank">| Información legal |<i class="fas fa-file-invoice"></i></a>
                <a href='https://www.youtube.com/watch?v=RqJVa0fl01w' target="_blank">| Acuerdo de Suscriptor a Steam |<i class="fas fa-user"></i></a>
                <a href='https://www.youtube.com/watch?v=RqJVa0fl01w' target="_blank">| Reembolsos |<i class="fas fa-money-bill-alt"></i></a>
                <a href='https://www.youtube.com/watch?v=RqJVa0fl01w' target="_blank">| Cookies |<i class="fas fa-cookie"></i></a>
            </div>
            <div class="parteDerecha">
                <a href='https://www.youtube.com/watch?v=RqJVa0fl01w' target="_blank">| Acerca de RelaxGames |<i class="fas fa-info"></i></a>
                <a href='https://www.youtube.com/watch?v=RqJVa0fl01w' target="_blank">| Distribucion de RelaxGames |<i class="fas fa-truck"></i></a>
                <a href='https://www.youtube.com/watch?v=RqJVa0fl01w' target="_blank">| Soporte |<i class="fas fa-phone-square-alt"></i></a>
                <a href='https://www.youtube.com/watch?v=RqJVa0fl01w' target="_blank">| Tarjeta de Regalo |<i class="fas fa-gift"></i></a>
            </div>
        </div>
</footer>